<div class="global-container container mt-3 d-flex flex-column align-items-center">
  <h1 class="mt-4">Vélib Foresee</h1>
  <div class="d-flex align-items-center">
    <p class="pb-0 mb-0 mr-2">Choisissez une heure </p>
    <span>
      <select id="hour-input" class="select2">
        <option selected="selected">
          00h
        </option>
    </select>
    </span>
  </div>
  <div class="mt-4" id="map"
    data-markers="<%= @markers.to_json %>"
    data-center="<%= @marker_center.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
